name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "23"

      - name: Install dependencies
        run: npm ci

      - name: Compile typescript
        run: npm run build

      - name: Run tests
        run: npm test

  functional-test:
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "23"

      - name: Install dependencies
        run: npm ci

      - name: Compile typescript
        run: npm run build

      - name: Configure AWS Credentials
        uses: mapbox/configure-aws-credentials-internal@v5
        with:
          target-account-id: ${{ vars.AWS_ACCOUNT_ID_DEFAULT }}

      - name: Fetch secrets from AWS
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            FUNCTIONAL_TEST_SECRETS,general/locationai/mcp-server/functional-tests
          parse-json-secrets: true

      - name: Run functional tests
        env:
          MAPBOX_ACCESS_TOKEN: ${{ env.FUNCTIONAL_TEST_SECRETS_MAPBOX_ACCESS_TOKEN }}
        run: npm run test:functional
